


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container-component {
    display: flex;
    border:  2px  black;
    justify-content: center;
    align-items: center;
    flex: 1;

}





/***** style footer ****/


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}